@page 

<link rel="stylesheet" href="~/css/Upload/upload.css">

<div class="frame" data-aos-duration="600" data-aos="fade-down">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="file" class="upload-input" />
		</div>

		<button type="button" class="btn" name="uploadbutton">Upload file</button>

	</div>
</div>


<partial name="_SideBar"></partial>
