
.sidebar {
  height: 88%;
  width: 250px; 
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;  
  padding-top: 60px; 
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar hr {
  border-top: 1px solid #818181;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  color: #818181;
}
