@page

<link rel="stylesheet" href="~/css/Home/home.css">

<div class="col-xl-10 main">
    <div class="row justify-content-center">
        <div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
            <div class="mb-20 f-18 medium title">For Freelancers and <br />Agencies</div>
            <div class="color-heading text-adaptive">
                Pay once and it’s yours forever. Use <br />
                it to build as many sites as you <br />
                need; long form, presentations, <br />
                splash sites, and more.
            </div>
            <a asp-page="/Upload/Index" class="btn-pill">Upload Song</a>
        </div>
        <div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="800">
            <div class="mb-20 f-18 medium title">Cmd + C / Cmd + V</div>
            <div class="color-heading text-adaptive">
                Edit content in a comfortable <br />
                manner. It’s as simple as copy <br />
                and paste.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
        </div>
        <div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1000">
            <div class="mb-20 f-18 medium title">Full Control</div>
            <div class="color-heading text-adaptive">
                Easily change and tweak your <br />
                content when you need to, <br />
                however you want. No more third <br />
                party vendor lock-in.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>


<partial name="_SideBar"></partial>